body {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}
button {
  background-color: purple;
  color: white;
  margin: 0.5em;
  padding: 0.5em;
}
input {
  padding: 0.5em;
}
li {
  font-size: 1.5em;
}
